:root {
  --bg-color: #fff4e3;
  --brown: #795548;
}

.category-list{

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;


  .modal{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 4rem 2rem;
    border-radius: 1rem;

    h3 {
      margin-bottom: 1rem;
    }
    

    input {
      border-color: #BAA9A9;
      padding: 1rem 0;
      background-color: var(--bg-color);
      border-radius: 0.5rem;
    }

    .buttonsModal{
      display: flex;
      padding-top: 2rem;
      gap: 2rem;
      justify-content: ;
    }

    .save-btn {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      background-color: var(--brown);
      color: white;
      border: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }

    .cancel-btn {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      background-color: var(--brown);
      color: white;
      border: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }

  .preview-image{
    width: 10rem;
    object-fit: cover;
  }




  .category-table{
    width: 80%;
    border-top: 2px solid #BAA9A9;
    border-collapse: collapse;
    background-color: var(--bg-color);
  }
  

  th {
    color: white;
    padding:0.5rem 2rem;
    background-color: var(--brown);
  }

  .idTh{
    border-radius: 1rem 0 0 0;
  }

  .actionTh {
    border-radius:  0 1rem 0 0 ;
  }

  .add-category-btn {
    background-color: var(--brown);
    padding:0.5rem 2rem;
    border-radius: 0.4rem;
    color: white;
    border: none;
  }
  .edit-btn {
    color: white;
    border: none;
    background-color: transparent;

    img{
      width: 2rem;
      background-image: red;
    }
  }


  .delete-btn {
   background-color: transparent;
   border: none;

  img{
    width: 2rem;
    background-image: red;
  }
}
}