:root {
  --bg-color: #fff4e3;
  --bg-color-dark: #ffe0b2;
  --yellow: #eace4a;
  --yellow-light: #f1e9c9;
  --brown: #795548;
  --red: #892634;
  --purple: #6f2689;
  --purple-light: #d6b0ff;
  --white: #f3f3f3;
  --black: #0e0e0e;
  --gray: #ddccbc;
}

.container {
  width: min(100%, 1320px);
  margin-inline: auto;
}

section {
  padding-block: 2rem;
}