header {
  padding-inline: clamp(1rem, 5vw, 5rem);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    height: 6rem;

    .logo {
      width: 4rem;
      cursor: pointer;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 2rem;

      ul {
        gap: clamp(1rem, 4vw, 4rem);
      }

      @media (max-width: 1000px) {
        display: none;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      li {
        list-style: none;

        img {
          width: 2rem;
        }

        .profile-img {
          border-radius: 10rem;
        }

        .hamburger {
          cursor: pointer;
        }
      }

      @media (min-width: 1000px) {
        .hamburger {
          display: none;
        }
      }
    }

    .cart-container {
      position: relative;

      .cart-quantity {
        position: absolute;
        top: 1rem;
        left: -.8rem;
        background-color: var(--purple);
        color: var(--bg-color);
        border-radius: 50%;
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }

    .mobile-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 60%;
      height: 100vh;
      background-color: var(--bg-color);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      z-index: 1000;

      @media (min-width: 1000px) {
        display: none;
      }

      &.open {
        transform: translateX(0);
      }

      .close-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
      }

      .panal-icon {
        position: absolute;
        bottom: -6rem;
        right: -6rem;
        cursor: pointer;
        width: 20rem;
        opacity: 0.7;
      }

      ul {
        flex-direction: column;
        gap: 1rem;
      }
    }

    .active {
      color: var(--brown);
      border-bottom: 2px solid var(--yellow);
    }
  }
}
