.products-container {
  .sidebar {
    color: #cbd5e0;
    width: 250px;
    padding: 25px 15px;
  }

  .menu-item {
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.3s ease;
  }

  .menu-item:first-child {
    border: 2px solid #795548;
    justify-content: center;
    background: #795548;
    margin-top: 100px;
  }

  .menu-item:hover {
    background: #4a5568;
  }

  .menu-item.active {
    background-color: #795548;
    color: white;
  }

  .content {
    flex: 1;
    padding: 35px 40px;
    background-color: #fff4e3;
  }

  h1 {
    font-size: 26px;
    margin-bottom: 30px;
    color: #1a202c;
    font-weight: 600;
  }

  .filters {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
    flex-wrap: wrap;
  }

  .filters select,
  .filters input {
    padding: 9px 15px;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    background-color: white;
    font-size: 14px;
  }

  .filters input {
    width: 220px;
  }

  .filters button {
    padding: 9px 18px;
    background-color: #4299e1;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
  }

  .right-controls {
    margin-left: auto;
    display: flex;
    gap: 12px;
  }

  .delete {
    background-color: #fc8181;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #edf2f7;
  }

  th {
    background-color: #795548;
    color: white;
    font-weight: 600;
    font-size: 14px;
  }

  td {
    color: #4a5568;
    font-size: 14px;
  }

  input[type='checkbox'] {
    width: 18px;
    height: 18px;
    accent-color: #4299e1;
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .pagination button {
    padding: 8px 16px;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    color: #4a5568;
  }
  .pagination span {
    color: #718096;
    font-weight: 500;
  }
  .menu-item,
  .menu-item.active {
    border: 2px solid #795548;
    border-radius: 10px;
    margin: 15px auto;
    width: 90%;
    display: flex;
    justify-content: center;
  }
}
